* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 10vw);
}

.gallery_image {
    display: block;
    height: 100%;
    width: 100%;
    outline-offset: 0.1rem;
    transition: 0.5s ease-in-out;
}

.gallery_image:hover {
    outline: 2rem solid #0000003a;
    transform: scale(1.1);
}

img {
    height: 100%;
    width: 100%;
}

.image1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image2 {
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image3 {
    height: 100%;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.image4 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.image5 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
}

.image6 {
    height: 100%;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}